<md-content class="" flex layout="column" layout-gt-sm="row">
    <md-sidenav class="md-sidenav-left darkest" md-component-id="dashboardLeft" 
        md-is-locked-open="$mdMedia('gt-xs')">
        <md-content ng-show="searchOn" flex class="darkest" layout="column" layout-padding layout-margin>
            <md-input-container  class="font-white datepickfix" >
                <label for="building">{{ 'BUILDING' | translate }}</label>
                <md-select aria-label="building" style="min-width: 200px;" ng-model="building" ng-change="display()">
                    <md-option ng-value="building" ng-repeat="building in buildings | unique:'name'">
                        {{ building.name }}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-datepicker class="darkest datepickfix" md-placeholder="{{ 'FROM' | translate }}" ng-model="start" ></md-datepicker>
            <md-datepicker class="darkest datepickfix" md-placeholder="{{ 'TO' | translate }}" ng-model="end"></md-datepicker>
            <div layout="row">
                <md-button ng-click="resetFilter()">
                    <md-icon class="font-white"  md-font-set="material-icons">clear</md-icon>
                </md-button>
                <md-button ng-click="dashMe()">
                    <md-icon class="font-white" md-font-set="material-icons">play_arrow</md-icon>
                </md-button>
            </div>
        </md-content>
    </md-sidenav>
    <md-fab-speed-dial ng-hide="$mdMedia('gt-sm')" class="md-fab-top-right">
      <md-fab-trigger>
        <md-button  class="md-fab md-fab-right md-accent md-mini" 
        aria-label="{{ 'VIEW' | translate }}" ng-click="toggleMenu();">
            <md-icon md-font-set="material-icons">search</md-icon>
        </md-button>
      </md-fab-trigger>
    </md-fab-speed-dial>
    <!-- AD-->
    <md-content flex layout-padding layout-fill ng-hide="processed">
        <img src="/img/20.00.png" />
    </md-content>
    <md-content layout="column" layout-gt-sm="row" 
        layout-padding layout-margin ng-show="processed" style="height:auto;width:100%;">
        <md-grid-list flex
                md-cols-xs="1" md-cols-sm="1" md-cols-gt-sm="3" 
                md-row-height="1:1"
                md-gutter="8px" md-gutter-gt-sm="16px" >
            <!-- PIE CHART -->
            <md-grid-tile class="green">
                <div class="ct-chart ct-golden-section" flex></div>
                <md-grid-tile-header>
                    <h3>{{ 'PROJECTS' | translate }} &amp; {{ 'CASHFLOWS' | translate}}</h3>
                </md-grid-tile-header>
            </md-grid-tile>
            <!-- **** DEBTS and NUMBERS **** -->
            <md-grid-tile class="purple">
                <md-tile-content layout="column" layout-wrap layout-align="start start">
                    <table class="md-table  md-table--bordered" style="height:100%;width:100%;">
                        <tr>
                            <td><md-icon md-font-set="material-icons">receipt</md-icon></td>
                            <td>{{ 'EXPENSES' | translate }}</td>
                            <td align="right">{{ -1 * expenses | currency:"&#8378;" }}</td>
                        </tr>
                        <tr>
                            <td><md-icon md-font-set="material-icons">account_balance</md-icon></td>
                            <td>{{ 'INCOME' | translate }}</td>
                            <td align="right">{{ income | currency:"&#8378;" }}</td>
                        </tr>
                        <tr>
                            <td><md-icon md-font-set="material-icons">payment</md-icon></td>
                            <td>{{ 'MISSING_DUES' | translate }}</td>
                            <td align="right">{{ -1 * missingDues | currency:"&#8378;" }}</td>
                        </tr>
                    </table>
                </md-tile-content>
                <md-grid-tile-header layout-align="start center" >
                    <h3 class="font-white">{{ 'FIGURES' | translate }}</h3>
                </md-grid-tile-header>
            </md-grid-tile>
            <!-- POSTS -->
            <md-grid-tile md-rowspan="2" class="red" layout="column" layout-align="start start">
                <md-tile-content layout-align="start start">
                    <md-content layout="column" flex="100" ng-show="showPosts==false" class="md-tile-fix">
                        <div class="red font-white" layout-align="end center">
                            <md-button href="" class="md-icon-button" ng-click="flip()">
                                <md-icon md-font-set="material-icons" 
                                    ng-style="{ 'font-size':'12px',height:'12px'}" 
                                    class="font-white">close</md-icon>
                            </md-button>
                        </div>
                        <postdetails></postdetails>
                    </md-content>
                    <md-list flex="100" ng-show="showPosts" class="md-tile-fix">
                        <md-list-item dir-paginate="p in posts | itemsPerPage: perPage" total-items="postsCount"
                              class="md-2-line font-white"  ng-click="editPost(p)">
                            <md-icon md-font-set="material-icons" class="font-white">comment</md-icon>
                            <div class="md-list-item-text" layout="column">
                                <div class="md-title font-white">
                                    {{ p.title.substr(0,20) }}
                                    <span class="md-caption"><i>@{{ p.date | date:'dd MMM' }}</i></span>
                                </div>
                                <div class="md-caption dashboard-posts" style="width:auto;">{{ p.body }}</div>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-tile-content>
                <md-grid-tile-header flex>
                    <div flex="100" layout="row" layout-align="start center">
                        <h3>{{ 'POSTS' | translate }}</h3>
                        <dir-pagination-controls template-url="client/lib/pagination-tmpl-small.ng.html" 
                        on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                        <md-button href="" class="md-icon-button" ng-click="addPost()">
                            <md-icon md-font-set="material-icons" 
                            ng-style="{ 'font-size':'18px',height:'18px'}" 
                            class="font-white">add</md-icon>
                        </md-button>
                    </div>
                </md-grid-tile-header>
            </md-grid-tile>
            <!-- BAR CHART-->
            <md-grid-tile  ng-show="$mdMedia('gt-md')" md-colspan-gt-sm="2" class="brown" layout="column" layout-align="start start">
                <md-tile-content flex="100" style="height:auto">
                    <div class="ct-bar-chart" flex></div>
                </md-tile-content>
                <md-grid-tile-footer flex>
                    <div flex="100" layout="row" layout-align="end center">
                        <h3>{{ 'CHARTS' | translate }}</h3>
                        <span style="width:100px;">&nbsp;</span>
                        <div layout="row" layout-align="end center">
                            <md-icon md-font-set="material-icons" 
                            ng-style="{ 'font-size':'18px',height:'18px', color:'#3949AB'}" 
                            class="font-white">label</md-icon>
                            <span class="md-caption">{{ 'INCOME' | translate }}</span>
                        </div>
                        <div layout="row" layout-align="end center">
                            <md-icon md-font-set="material-icons" 
                            ng-style="{ 'font-size':'18px',height:'18px', color:'#FB8C00' }" 
                            class="font-white">label</md-icon>
                            <span class="md-caption">{{ 'EXPENSES' | translate }}</span>
                        </div>
                    </div>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</md-content>