<md-content layout="column" layout-gt-sm="row" flex layout-align="stretch">
  <md-fab-speed-dial class="md-fab-top-right"  ng-hide="flipped">
      <md-fab-trigger>
        <md-button  class="md-fab md-fab-right md-accent" aria-label="{{ 'ADD' | translate }} {{ 'CASHFLOW' | translate }}" 
            ng-click="addnew();" ng-class="{ 'md-mini' : $mdMedia('xs') }">
            <md-tooltip md-direction="left">
                {{ 'CLICK_TO_ADD' | translate }} {{ 'CASHFLOW' | translate }}
            </md-tooltip>
            <md-icon md-font-set="material-icons"> add </md-icon>
        </md-button>
      </md-fab-trigger>
    </md-fab-speed-dial>
    <md-fab-speed-dial class="md-fab-top-left" ng-show="flipped">
      <md-fab-trigger>
        <md-button  class="md-fab md-fab-left md-accent" ng-class="{ 'md-mini' : $mdMedia('xs') }"
            aria-label="{{ 'BACK' | translate }}" 
            ng-click="flip();">
            <md-tooltip md-direction="right">
                {{ 'GO_BACK' | translate }}
            </md-tooltip>
            <md-icon md-font-set="material-icons">undo</md-icon>
        </md-button>
      </md-fab-trigger>
    </md-fab-speed-dial>
    <flipper flipped="flipped" horizontal>
      <front layout-margin layout-align="stretch">
        <loading ng-class="{ 'pin': cashflowsCount>0 }" count="cashflowsCount"></loading>
        <md-content ng-show="$mdMedia('gt-md')"
          class="darkest md-whiteframe-1dp" 
          layout="row" layout-padding layout-align="start center">
           <div>{{ 'CASHIMP_AD' | translate }}</div>
           <span>&nbsp;&nbsp;</span>
           <md-button class="md-fab md-primary md-hue-1 md-mini" ui-sref="cashflowimport({buildingId : buildingId})">
             <md-icon md-font-set="material-icons">touch_app</md-icon>
           </md-button>
        </md-content>
        <table class="md-table md-table--bordered"  ng-show="cashflowsCount>0" style="width:100%">
          <thead>
            <th><md-icon md-font-set="material-icons" class="md-icon-button">attach_money</md-icon></th>
            <th>{{ 'DESCRIPTION' | translate }}</th>
            <th>{{ 'AMOUNT' | translate }}</th>
            <th>{{ 'DATE' | translate }}</th>
          </thead>
          <tbody>
          <tr dir-paginate="c in cashflows | itemsPerPage: perPage" total-items="cashflowsCount"
              ng-class="{ active: c._id == currentCashflowId }" 
              ng-href="" ng-click="displayCashflow(c._id)">
             <td><md-icon  md-font-set="material-icons" ng-class="{ 'md-warn' : c.paid }">{{ c.paid?'check':'' }} </md-icon></td>
             <td>{{ c.description }}</td>
             <td align="right">{{ c.amount }}</td>
             <td align="center">{{ c.date | date:'dd MMM yy'  }}</td>
          </tr>
          </tbody>
        </table>
        <div layout="row" layout-align="start center" id="bottombar">
          <dir-pagination-controls template-url="client/lib/pagination-tmpl.ng.html" 
              on-page-change="pageChanged(newPageNumber)" ng-show="cashflowsCount"></dir-pagination-controls>
          <md-button  ng-show="$mdMedia('gt-sm')" class="md-fab md-mini" ng-click="openSearchSheet($event)">
            <md-tooltip>
              {{ 'SEARCH_WORD' | translate }}
            </md-tooltip>
              <md-icon ng-style="{ 'font-size':'12px',height:'12px'}" md-font-set="material-icons"> search </md-icon>
          </md-button>
          <md-button  ng-show="$mdMedia('gt-sm')" class="md-fab md-mini" ng-click="clearSearch()">
            <md-tooltip>
              {{ 'CLEAR_SEARCH' | translate }}
            </md-tooltip>
              <md-icon ng-style="{ 'font-size':'12px',height:'12px'}" md-font-set="material-icons"> clear </md-icon>
          </md-button>
        </div>
      </front>
      <back ng-show="flipped">
        <cashflowdetails  cashflow="cashflow"></cashflowdetails>
      </back>
    </flipper>
</md-content>