<md-content layout="row" layout-align="center center">
  <md-whiteframe class="md-whiteframe-1dp gray" layout="column" layout-margin  layout-align="center center" flex="40">
    <div layout="row" layout-align="space-around center">
       <p>{{ 'PLEASE_TYPE_YOUR_EMAIL' | translate }}</p>
    </div>
    <div ng-show="rpc.error" class="md-warn">
      <small>{{ rpc.error }}</small>
    </div>
    <form layout="column">
      <md-input-container>
        <md-icon md-font-set="material-icons">email</md-icon>
        <input type="text" ng-model="rpc.credentials.email"
               placeholder="email" aria-label="email"/>
      </md-input-container>
      <section layout="row" layout-align="end center" layout-wrap>
        <md-button class="md-primary md-mini"
           ng-click="rpc.reset()" aria-label="login">{{ 'RESET_PASSWORD' | translate }}
        </md-button>
      </section>
    </form>
    <div layout="row" layout-align="end center">
      <md-button class="md-primary" ng-href="/login">
        {{ 'LOGIN' | translate }}
      </md-button>
    </div>
  </md-whiteframe>
</md-content>