<div layout="row" layout-sm="column"  ng-show="building" layout-padding>
    <div flex ng-cloak class="md-inline-form">
            <md-content layout="column" layout-gt-sm="row">
                <div flex>    
                    <form name="buildingForm">
                        <div layout="column" layout-gt-sm="row">
                            <md-input-container class="md-block">
                                <label>{{ 'NAME' | translate }}</label>
                                <input ng-model="building.name" required><span class="error" ng-show="buildingForm.input.$error.required">{{ 'REQUIRED' | translate }}</span>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>{{ 'CURRENCY' | translate }}</label>
                            <md-select ng-model="building.currency" >
                                <md-option>TRY</md-option>
                                <md-option>USD</md-option>
                                <md-option>EUR</md-option>
                                <md-option>RUB</md-option>
                            </md-select>
                            </md-input-container>
                        </div>
                        <div layout="column" layout-gt-sm="row">
                            <md-input-container class="md-block">
                                <label>{{ 'NR' | translate }}</label>
                                <input type="" ng-model="building.no" required><span class="error" ng-show="buildingForm.input.$error.required">{{ 'REQUIRED' | translate }}</span>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>{{ 'STREET' | translate }}</label>
                                <input ng-model="building.street" required><span class="error" ng-show="buildingForm.input.$error.required">{{ 'REQUIRED' | translate }}</span>
                            </md-input-container>
                        </div>
                        <div layout="column" layout-gt-sm="row">
                            <md-input-container class="md-block">
                                <label>{{ 'COUNTY' | translate }}</label>
                                <input ng-model="building.county" required><span class="error" ng-show="buildingForm.input.$error.required">{{ 'REQUIRED' | translate }}</span>
                            </md-input-container>
                            <md-input-container>
                                <label>{{ 'ZIPCODE' | translate }}</label>
                                <input ng-model="building.zip"  ng-pattern="/^[0-9]{5}$/"  required><span class="error" ng-show="buildingForm.input.$error.required">Required!</span>
                            </md-input-container>
                        </div>
                        <div layout="column" layout-gt-sm="row">
                            <md-input-container>
                                <label>{{ 'TOWN' | translate }}</label>
                                <input ng-model="building.town" required><span class="error" ng-show="buildingForm.input.$error.required">{{ 'REQUIRED' | translate }}</span>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>{{ 'COUNTRY' | translate }}</label>
                                <md-select ng-model="building.country" placeHolder="{{ 'COUNTRY' | translate }}">
                                    <md-option value="tr">tr</md-option>
                                    <md-option value="en">uk</md-option>
                                    <md-option value="al">al</md-option>
                                </md-select>
                             </md-input-container>
                        </div>
                        <div flex layout-align="end center"  layout="column" layout-gt-sm="row">
                            <md-tooltip direction="top">
                            {{ 'STARTDATE_TIP' | translate }}
                            </md-tooltip>
                            <label>{{ 'STARTDATE' | translate }}</label>
                            <md-datepicker name="building.startDate" ng-model="building.startDate"
                                        placeholder="{{ 'STARTDATE' | translate }}" required=""
                                        md-max-date="">
                            </md-datepicker>
                            <span flex></span>
                            <div layout="row">
                            <md-button class="md-button md-accent" ng-click="save()">
                                <md-icon aria-label="{{ 'SAVE' | translate }}" md-font-set="material-icons">save</md-icon>
                            </md-button>
                            <md-button class="md-button md-accent" ng-click="deleteBuilding(building)">
                                <md-icon aria-label="{{ 'DELETE' | translate }}" md-font-set="material-icons">delete</md-icon>
                            </md-button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="md-whiteframe-4dp" layout="column" style="width:450px">
                    <div ng-show="$mdMedia('gt-sm')" class="red font-white" flex layout="row" layout-padding layout-align="start center">
                        <div>{{ 'MAP_AD' | translate }}</div>
                        <md-button class="md-icon-button" target="_self" href="mailto:appworld@alpugan.com">
                            <md-icon class="font-white"
                            aria-label="{{ 'MAIL' | translate }}"
                            md-font-set="material-icons">mail</md-icon>
                        </md-button>
                    </div>
                    <div id="map" class="map-container"></div>
                </div>
        </md-content>
    </div>
</div>
    